# Binarios y temporales
*.tmp
*.log
*.zip
*.exe
*~
atlas_mid
main

# IDEs y otros
.vscode
.idea

# Variables de Entorno
*.env
!template.env

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml

# Router file
routers/commentsRouter___*